$cards-ids: 9C, 9D, 9H, 9S, 10C, 10D, 10H, 10S, JC, JD, JH, JS, QC, QD, QH, QS,
  KC, KD, KH, KS, AC, AD, AH, AS;

.hand {
  display: flex;
  justify-content: center;

  .cards {
    width: 100px;
    height: 140px;
    margin: 20px 5px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @each $id in $cards-ids {
    .card-#{$id} {
      background-image: url("../assets/images/cards/#{$id}.png");
      animation: getCard 0.5s;
    }
  }

  .card-back {
    background-image: url("../assets/images/cards/green_back.png");
    animation: getCard 0.5s;
  }
}

@keyframes getCard {
  from {
    margin-left: -600px;
  }
  to {
    margin-left: 5px;
  }
}
