.hand{
    
  display: flex;
  justify-content: center;

.cards{
  width: 100px;
  height: 155px;
  margin: 20px 5px;
  background-size: contain;
  background-repeat: no-repeat;
}
.card-2c{
    background-image: url('../images/cards/2C.png');
    
  }
  .card-2d{
    background-image: url('../images/cards/2D.png');
    
  }
  .card-2h{
    background-image: url('../images/cards/2H.png');
    
  }
  .card-2s{
    background-image: url('../images/cards/2S.png');
  
  }
  .card-3c{
    background-image: url('../images/cards/3C.png');
    
  }
  .card-3d{
    background-image: url('../images/cards/3D.png');
    
  }
  .card-3h{
    background-image: url('../images/cards/3H.png');
    
  }
  .card-3s{
    background-image: url('../images/cards/3S.png');
    
  }
  .card-4c{
    background-image: url('../images/cards/4C.png');
    
  }
  .card-4d{
    background-image: url('../images/cards/4D.png');
    
  }
  .card-4h{
    background-image: url('../images/cards/4H.png');
    
  }
  .card-4s{
    background-image: url('../images/cards/4S.png');
    
  }
  .card-5c{
    background-image: url('../images/cards/5C.png');
  
  }
  .card-5d{
    background-image: url('../images/cards/5D.png');
    
  }
  .card-5h{
    background-image: url('../images/cards/5H.png');
    
  }
  .card-5s{
    background-image: url('../images/cards/5S.png');
    
  }
  .card-6c{
    background-image: url('../images/cards/6C.png');
    
  }
  .card-6d{
    background-image: url('../images/cards/6D.png');
    
  }
  .card-6h{
    background-image: url('../images/cards/6H.png');
    
  }
  .card-6s{
    background-image: url('../images/cards/6S.png');
    
  }
  .card-7c{
    background-image: url('../images/cards/7C.png');
    
  }
  .card-7d{
    background-image: url('../images/cards/7D.png');
    
  }
  .card-7h{
    background-image: url('../images/cards/7H.png');
  
  }
  .card-7s{
    background-image: url('../images/cards/7S.png');
    
  }
  
  .card-8c{
    background-image: url('../images/cards/8C.png');
    
  }
  .card-8d{
    background-image: url('../images/cards/8D.png');
    
  }
  .card-8h{
    background-image: url('../images/cards/8H.png');
    
  }
  .card-8s{
    background-image: url('../images/cards/8S.png');
    
  }
  
  .card-9c{
    background-image: url('../images/cards/9C.png');
    
  }
  .card-9d{
    background-image: url('../images/cards/9D.png');
    
  }
  .card-9h{
    background-image: url('../images/cards/9H.png');
  
  }
  .card-9s{
    background-image: url('../images/cards/9S.png');
    
  }
  
  .card-10c{
    background-image: url('../images/cards/10C.png');
    
  }
  .card-10d{
    background-image: url('../images/cards/10D.png');
    
  }
  .card-10h{
    background-image: url('../images/cards/10H.png');
  
  }
  .card-10s{
    background-image: url('../images/cards/10S.png');
    
  }
  
  .card-jc{
    background-image: url('../images/cards/JC.png');
  
  }
  .card-jd{
    background-image: url('../images/cards/JD.png');
    
  }
  .card-jh{
    background-image: url('../images/cards/JH.png');
  
  }
  .card-js{
    background-image: url('../images/cards/JS.png');
  
  }
  
  .card-qc{
    background-image: url('../images/cards/QC.png');
  
  }
  .card-qd{
    background-image: url('../images/cards/QD.png');
  
  }
  .card-qh{
    background-image: url('../images/cards/QH.png');
    
  }
  .card-qs{
    background-image: url('../images/cards/QS.png');
  
  }
  
  .card-kc{
    background-image: url('../images/cards/KC.png');
  
  }
  .card-kd{
    background-image: url('../images/cards/KD.png');
  
  }
  .card-kh{
    background-image: url('../images/cards/KH.png');
    
  }
  .card-ks{
    background-image: url('../images/cards/KS.png');
  
  }
  
  .card-ac{
    background-image: url('../images/cards/AC.png');
  
  }
  .card-asd{
    background-image: url('../images/cards/AD.png');
    
  }
  .card-ah{
    background-image: url('../images/cards/AH.png');
  
  }
  .card-as{
    background-image: url('../images/cards/AS.png');
    
  }
  
  .card-back{
    background-image: url('../images/cards/green_back.png');
    
  }
}

