$cards-ids: 9C, 9D, 9H, 9S, 10C, 10D, 10H, 10S, JC, JD, JH, JS, QC, QD, QH, QS, KC, KD, KH, KS, AC, AD, AH, AS;

.hand{
    
  display: flex;
  justify-content: center;

.cards{
  width: 100px;
  height: 140px;
  margin: 20px 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

@each $id in $cards-ids{
  .card-#{$id}{
    background-image: url('../images/cards/#{$id}.png');
  }
}
 
  
  .card-back{
    background-image: url('../images/cards/green_back.png');
    
  }
}

